.store {
    padding: 10px 10% 10px;
  }
  
.center-text {
    text-align: center;
  }
  
  .center-text h6 {
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
  }
  
  .center-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    cursor: pointer;
  }
  