.navigation {
    display: flex;
  }
  
  .navigation a {
    display: inline-block;
    font-size: var(--p-font);
    color: var(--text-color);
    margin: 0 30px;
    padding: 2px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.6s ease;
  }
  
  .navigation a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
  
  .nav-content {
    display: flex;
    align-items: center;
  }
  
